In [1]:
'''basic packages'''
import os
import pandas as pd
import numpy as np
from sklearn import datasets, tree, linear_model
import sklearn.ensemble as ek
import seaborn as sns
import queue
import cv2          #影像處理
import scipy.misc   #影像處理
from tqdm import tqdm_notebook as tqdm #進度條
import matplotlib.pyplot as plt
plt.rcParams['font.family']='SimHei' #顯示中文
import matplotlib.lines as mlines
%matplotlib inline
import warnings
# warnings.filterwarnings('ignore')
warnings.filterwarnings("ignore", category=DeprecationWarning)

from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns

In [2]:
# Load in the train datasets
train = pd.read_csv('/data/examples/may_the_4_be_with_u/show_me_the_money/train.csv',
#                     names=['id','step','type','amount','nameOrig','oldbalanceOrg','newbalanceOrig','nameDest','oldbalanceDest','newbalanceDest','Fraud'],
                    encoding = "utf-8")
# train = train.rename(columns={'oldbalanceOrg':'oldBalanceOrig', 'newbalanceOrig':'newBalanceOrig', \
#                         'oldbalanceDest':'oldBalanceDest', 'newbalanceDest':'newBalanceDest', 'Fraud':'isFraud'})

test = pd.read_csv('/data/examples/may_the_4_be_with_u/show_me_the_money/test.csv',
#                    names=['id','step','type','amount','nameOrig','oldbalanceOrg','newbalanceOrig','nameDest','oldbalanceDest','newbalanceDest'],
                   encoding = "utf-8")
# test = test.rename(columns={'oldbalanceOrg':'oldBalanceOrig', 'newbalanceOrig':'newBalanceOrig', \
#                         'oldbalanceDest':'oldBalanceDest', 'newbalanceDest':'newBalanceDest', 'Fraud':'isFraud'})

In [3]:
train.isnull().values.any()

False

In [4]:
train.head()

,id,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,Fraud
0,0,323,PAYMENT,9092.69,C749189758,0.0,0.00,M1939669337,0.00,0.00,0.0
1,1,164,CASH_IN,23468.75,C525009948,0.0,23468.75,C65353523,77300.17,53831.42,0.0
2,2,228,CASH_OUT,39688.11,C1311063915,0.0,0.00,C1581032686,168913.26,208601.37,0.0
3,3,229,CASH_OUT,179016.96,C700594269,103485.0,0.00,C90149178,2483034.47,2662051.42,0.0
4,4,709,CASH_OUT,77155.99,C646560157,143307.0,66151.01,C671337546,21213865.83,21291021.82,0.0

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3817572 entries, 0 to 3817571
Data columns (total 11 columns):
id                int64
step              int64
type              object
amount            float64
nameOrig          object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest          object
oldbalanceDest    float64
newbalanceDest    float64
Fraud             float64
dtypes: float64(6), int64(2), object(3)
memory usage: 320.4+ MB

In [6]:
test.shape

(2545047, 10)

In [7]:
test.isnull().values.any()

False

In [8]:
test.head()

,id,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
0,1,329,PAYMENT,41909.68,C1965438439,18391.00,0.00,M296912999,0.00,0.00
1,2,205,CASH_IN,57645.11,C2061644565,3162376.19,3220021.31,C2046839454,701205.57,643617.16
2,3,299,PAYMENT,41911.35,C630506216,9218.00,0.00,M1895361660,0.00,0.00
3,4,165,PAYMENT,10297.71,C1059151844,29739.00,19441.29,M830221248,0.00,0.00
4,5,346,TRANSFER,143577.58,C1707397780,115.00,0.00,C1234376661,1184548.85,1328126.42

### 匯出
train.to_csv('show_me_the_money_train.csv',index=False)

test.to_csv('show_me_the_money_test.csv',index=False)

In [9]:
X = train.drop(['id', 'type', 'nameOrig', 'nameDest'], axis = 1)

In [10]:
X_test = test.drop(['id', 'type', 'nameOrig', 'nameDest'], axis = 1)

In [11]:
X_test.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,329,41909.68,18391.00,0.00,0.00,0.00
1,205,57645.11,3162376.19,3220021.31,701205.57,643617.16
2,299,41911.35,9218.00,0.00,0.00,0.00
3,165,10297.71,29739.00,19441.29,0.00,0.00
4,346,143577.58,115.00,0.00,1184548.85,1328126.42

[^1]: [Predicting Fraud in Financial Payment Services | Kaggle](https://www.kaggle.com/arjunjoshua/predicting-fraud-in-financial-payment-services)

In [12]:
X.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,Fraud
0,323,9092.69,0.0,0.00,0.00,0.00,0.0
1,164,23468.75,0.0,23468.75,77300.17,53831.42,0.0
2,228,39688.11,0.0,0.00,168913.26,208601.37,0.0
3,229,179016.96,103485.0,0.00,2483034.47,2662051.42,0.0
4,709,77155.99,143307.0,66151.01,21213865.83,21291021.82,0.0

In [13]:
X_test.head()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,329,41909.68,18391.00,0.00,0.00,0.00
1,205,57645.11,3162376.19,3220021.31,701205.57,643617.16
2,299,41911.35,9218.00,0.00,0.00,0.00
3,165,10297.71,29739.00,19441.29,0.00,0.00
4,346,143577.58,115.00,0.00,1184548.85,1328126.42

In [15]:
Y = X['Fraud']
X = X.drop(['Fraud'], axis=1)
Y.shape

(3817572,)

In [16]:
from sklearn.model_selection import train_test_split, learning_curve
from sklearn.metrics import average_precision_score
from xgboost.sklearn import XGBClassifier
from xgboost import plot_importance, to_graphviz

In [19]:
randomState = 5
np.random.seed(randomState)

X_train, X_valid, y_train, y_valid = train_test_split(X, Y, test_size = 0.2, \
                                                random_state = randomState)

In [20]:
import xgboost

eval_set =  [(X_valid, y_valid)]
# parameters={'learning_rate':[0.05,0.1,0.2]}
model = xgboost.XGBClassifier()
# best_model = sklearn.model_selection.GridSearchCV(model, parameters,cv=2)
# best_model.fit(x_train, y_train,early_stopping_rounds=10, eval_metric="auc",
#           eval_set=eval_set, verbose=False)
model.fit(X_train, y_train,early_stopping_rounds=10, eval_metric="auc",eval_set=eval_set, verbose=True)

[0]	validation_0-auc:0.616901
Will train until validation_0-auc hasn't improved in 10 rounds.
[1]	validation_0-auc:0.752265
[2]	validation_0-auc:0.779119
[3]	validation_0-auc:0.809833
[4]	validation_0-auc:0.820965
[5]	validation_0-auc:0.820971
[6]	validation_0-auc:0.828311
[7]	validation_0-auc:0.828311
[8]	validation_0-auc:0.832855
[9]	validation_0-auc:0.832855
[10]	validation_0-auc:0.828755
[11]	validation_0-auc:0.828755
[12]	validation_0-auc:0.828593
[13]	validation_0-auc:0.828592
[14]	validation_0-auc:0.828753
[15]	validation_0-auc:0.828755
[16]	validation_0-auc:0.888248
[17]	validation_0-auc:0.888645
[18]	validation_0-auc:0.888715
[19]	validation_0-auc:0.892397
[20]	validation_0-auc:0.927041
[21]	validation_0-auc:0.928291
[22]	validation_0-auc:0.928287
[23]	validation_0-auc:0.933811
[24]	validation_0-auc:0.93206
[25]	validation_0-auc:0.934422
[26]	validation_0-auc:0.934176
[27]	validation_0-auc:0.933309
[28]	validation_0-auc:0.937039
[29]	validation_0-auc:0.932819
[30]	validation_0-auc:0.936613
[31]	validation_0-auc:0.936666
[32]	validation_0-auc:0.937539
[33]	validation_0-auc:0.941445
[34]	validation_0-auc:0.939215
[35]	validation_0-auc:0.941098
[36]	validation_0-auc:0.959955
[37]	validation_0-auc:0.960166
[38]	validation_0-auc:0.961271
[39]	validation_0-auc:0.967711
[40]	validation_0-auc:0.968493
[41]	validation_0-auc:0.970428
[42]	validation_0-auc:0.973383
[43]	validation_0-auc:0.973871
[44]	validation_0-auc:0.974859
[45]	validation_0-auc:0.975104
[46]	validation_0-auc:0.975267
[47]	validation_0-auc:0.979722
[48]	validation_0-auc:0.980281
[49]	validation_0-auc:0.98052
[50]	validation_0-auc:0.980681
[51]	validation_0-auc:0.98102
[52]	validation_0-auc:0.981022
[53]	validation_0-auc:0.981501
[54]	validation_0-auc:0.9849
[55]	validation_0-auc:0.984917
[56]	validation_0-auc:0.984931
[57]	validation_0-auc:0.987292
[58]	validation_0-auc:0.9874
[59]	validation_0-auc:0.988633
[60]	validation_0-auc:0.98867
[61]	validation_0-auc:0.990051
[62]	validation_0-auc:0.990329
[63]	validation_0-auc:0.991627
[64]	validation_0-auc:0.991473
[65]	validation_0-auc:0.991798
[66]	validation_0-auc:0.992371
[67]	validation_0-auc:0.992615
[68]	validation_0-auc:0.99307
[69]	validation_0-auc:0.993072
[70]	validation_0-auc:0.993449
[71]	validation_0-auc:0.99357
[72]	validation_0-auc:0.993966
[73]	validation_0-auc:0.994603
[74]	validation_0-auc:0.994723
[75]	validation_0-auc:0.99467
[76]	validation_0-auc:0.994957
[77]	validation_0-auc:0.995064
[78]	validation_0-auc:0.995144
[79]	validation_0-auc:0.995161
[80]	validation_0-auc:0.995396
[81]	validation_0-auc:0.995514
[82]	validation_0-auc:0.995637
[83]	validation_0-auc:0.995619
[84]	validation_0-auc:0.995669
[85]	validation_0-auc:0.995679
[86]	validation_0-auc:0.995749
[87]	validation_0-auc:0.995734
[88]	validation_0-auc:0.995889
[89]	validation_0-auc:0.99592
[90]	validation_0-auc:0.995822
[91]	validation_0-auc:0.995957
[92]	validation_0-auc:0.996003
[93]	validation_0-auc:0.996026
[94]	validation_0-auc:0.995964
[95]	validation_0-auc:0.995992
[96]	validation_0-auc:0.99592
[97]	validation_0-auc:0.996157
[98]	validation_0-auc:0.996248
[99]	validation_0-auc:0.996259

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [22]:
import sklearn

#validation
y_pred = model.predict_proba(X_test)
# y_pred = best_model.predict_proba(x_test)
#y_pred會有兩欄（加起來總共100%），不知道為什麼這裡要取第二欄
y_pred = y_pred[:,1]
# fpr, tpr, thresholds = sklearn.metrics.roc_curve(y_valid, y_pred)
# sklearn.metrics.auc(fpr,tpr)

In [24]:
y_pred.shape

(2545047,)

```
submission = pd.DataFrame()

submission['id'] = test_id

submission['Fraud'] = 您的預測結果

submission.to_csv('您的檔名.csv',index=False)```

In [28]:
test

,id,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
0,1,329,PAYMENT,41909.68,C1965438439,18391.00,0.00,M296912999,0.00,0.00
1,2,205,CASH_IN,57645.11,C2061644565,3162376.19,3220021.31,C2046839454,701205.57,643617.16
2,3,299,PAYMENT,41911.35,C630506216,9218.00,0.00,M1895361660,0.00,0.00
3,4,165,PAYMENT,10297.71,C1059151844,29739.00,19441.29,M830221248,0.00,0.00
4,5,346,TRANSFER,143577.58,C1707397780,115.00,0.00,C1234376661,1184548.85,1328126.42
5,6,250,CASH_IN,92080.11,C1074936553,1266682.26,1358762.37,C77460934,134984.73,42904.62
6,7,202,CASH_IN,69928.33,C1696064659,148.00,70076.33,C1246033375,0.00,0.00
7,8,36,CASH_OUT,454192.02,C1480838236,62285.00,0.00,C143580560,2507199.46,3638626.92
8,9,231,CASH_IN,326340.51,C493142765,166014.00,492354.51,C1839153072,157233.23,0.00
9,10,42,CASH_OUT,281865.35,C692568615,0.00,0.00,C1657808698,1316099.51,1597964.86
10,11,163,CASH_OUT,361997.40,C1196064758,0.00,0.00,C189720845,714514.34,1076511.73
11,12,300,CASH_IN,46531.43,C1923481619,49611.00,96142.43,C1102072378,279999.09,233467.66
12,13,160,PAYMENT,12335.85,C1821204314,0.00,0.00,M1949678225,0.00,0.00
13,14,201,PAYMENT,6888.46,C1898547869,0.00,0.00,M1708645710,0.00,0.00
14,15,44,PAYMENT,1835.06,C2024422576,0.00,0.00,M367525397,0.00,0.00
15,16,262,PAYMENT,3624.04,C664974033,0.00,0.00,M719800282,0.00,0.00
16,17,136,PAYMENT,29371.01,C21192033,0.00,0.00,M2062862169,0.00,0.00
17,18,326,PAYMENT,3238.00,C1871227720,532.00,0.00,M1303012407,0.00,0.00
18,19,212,CASH_OUT,79439.89,C1590516529,0.00,0.00,C1187717597,2497299.14,2576739.03
19,20,540,PAYMENT,5703.20,C104445945,61906.00,56202.80,M1991353782,0.00,0.00
20,21,393,CASH_OUT,109706.01,C1279703841,0.00,0.00,C1361275291,12643928.02,13162188.08
21,22,141,PAYMENT,4271.64,C1223989127,14988.00,10716.36,M1332779596,0.00,0.00
22,23,167,PAYMENT,6038.34,C571883529,896.00,0.00,M715525955,0.00,0.00
23,24,401,CASH_OUT,39416.26,C982347990,71505.00,32088.74,C1132931424,2703750.87,2743167.13
24,25,326,PAYMENT,25729.29,C1518339774,11371.00,0.00,M939951080,0.00,0.00
25,26,182,CASH_IN,3216.41,C62970524,118180.00,121396.41,C418576131,0.00,0.00
26,27,205,PAYMENT,6447.59,C976778598,0.00,0.00,M929477487,0.00,0.00
27,28,398,CASH_OUT,86151.15,C130738149,114.00,0.00,C172537400,0.00,86151.15
28,29,322,CASH_OUT,211546.06,C587801556,0.00,0.00,C1787382100,378300.02,589846.09
29,30,357,CASH_IN,107625.12,C103861126,34591.00,142216.12,C681526729,2504303.58,2396678.46
...,...,...,...,...,...,...,...,...,...,...
2545017,2545018,16,PAYMENT,23494.86,C1263682793,98920.00,75425.14,M137704114,0.00,0.00
2545018,2545019,275,PAYMENT,6808.23,C779230016,103320.00,96511.77,M937044559,0.00,0.00
2545019,2545020,250,PAYMENT,20836.93,C154519375,3612.03,0.00,M154013749,0.00,0.00
2545020,2545021,14,CASH_OUT,69014.89,C2140744347,0.00,0.00,C2078745453,9280719.58,9349734.47
2545021,2545022,379,CASH_IN,353744.96,C458052597,13282.00,367026.96,C1286182815,0.00,0.00
2545022,2545023,376,PAYMENT,9590.65,C1714422649,0.00,0.00,M227020929,0.00,0.00
2545023,2545024,571,PAYMENT,1399.01,C1638968348,102943.77,101544.77,M1106345022,0.00,0.00
2545024,2545025,188,CASH_OUT,115644.84,C832002509,0.00,0.00,C1577817301,139934.54,255579.38
2545025,2545026,331,CASH_IN,98179.80,C459308108,10287.00,108466.80,C421841699,14324702.86,14226523.06
2545026,2545027,231,CASH_IN,203724.49,C1069057072,7109.00,210833.49,C313372893,39082.48,0.00
2545027,2545028,380,CASH_IN,517058.26,C1186110989,4649154.69,5166212.95,C748036204,2347725.43,1830667.18
2545028,2545029,204,CASH_OUT,83128.46,C942620376,93176.00,10047.54,C612183649,516569.50,599697.96
2545029,2545030,140,CASH_OUT,282485.49,C1952528770,0.00,0.00,C1013720534,777334.08,1105981.35
2545030,2545031,20,CASH_OUT,219341.08,C1009798427,5970.00,0.00,C823524092,0.00,219341.08
2545031,2545032,13,CASH_OUT,442622.39,C609812513,0.00,0.00,C1375637906,647574.95,1090197.34
2545032,2545033,326,PAYMENT,4133.24,C1099349625,0.00,0.00,M1796054078,0.00,0.00
2545033,2545034,260,PAYMENT,1055.24,C1531841192,131285.25,130230.01,M1295453784,0.00,0.00
2545034,2545035,251,PAYMENT,21819.97,C759055660,82571.00,60751.03,M475085196,0.00,0.00
2545035,2545036,525,CASH_IN,290361.73,C732011785,3794977.70,4085339.42,C375122858,794083.50,503721.77
2545036,2545037,348,CASH_OUT,87113.58,C577570293,0.00,0.00,C1073921025,635916.99,723030.57
2545037,2545038,357,CASH_IN,414928.42,C1910000142,1519082.54,1934010.96,C950286142,1369851.38,954922.96
2545038,2545039,182,CASH_OUT,44863.15,C16850291,0.00,0.00,C639153573,896254.23,941117.38
2545039,2545040,232,PAYMENT,2657.85,C352047101,19896.00,17238.15,M956745725,0.00,0.00
2545040,2545041,332,CASH_OUT,122921.95,C149297465,0.00,0.00,C1131289356,126597.00,0.00
2545041,2545042,19,PAYMENT,112.75,C377192862,23730.21,23617.45,M203684403,0.00,0.00
2545042,2545043,15,PAYMENT,4079.13,C1449802099,8698.49,4619.35,M284810965,0.00,0.00
2545043,2545044,225,PAYMENT,4087.67,C1939385680,3803.00,0.00,M1791158888,0.00,0.00
2545044,2545045,375,CASH_OUT,693231.99,C871345450,1251.00,0.00,C1832129856,4702646.10,5395878.08
2545045,2545046,207,CASH_OUT,25515.73,C1738060591,5425.00,0.00,C1091632411,193579.16,219094.89
2545046,2545047,144,PAYMENT,20963.49,C1081530121,40593.00,19629.51,M1942306102,0.00,0.00

In [30]:
#predict
submission = pd.DataFrame()
submission['id'] = test.id - 1
submission['Fraud'] = y_pred
# submission.columns=['id','Fraud']
submission.to_csv("submission.csv", index=False)
submission.head()

   id     Fraud
0   0  0.001319
1   1  0.000040
2   2  0.000737
3   3  0.000069
4   4  0.000074